body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,255,255);
background: linear-gradient(196deg, rgba(255,255,255,1) 0%, rgba(0, 43, 108, 0.868) 57%);

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgba(0,43,108,255);
}
.left{
    border: black solid 3px;
    display: flow-root;
}
.right{
    margin-top:  5px;
    margin-bottom: 5px;
    border: black solid 3px;
    display: flow-root;
    text-align: right;
}
#jezero{
    float: left;
    margin: 5px;
}

#obyvatel{
    float: right;
    margin: 5px;
}
#finové{
    float: left;
    margin: 5px;
}
#klobasa{
    float: right;
    margin: 5px;
}
#legenda{
    float: left;
    margin: 5px;
}
